<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand">Charity Watch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Donation List</a>
            <a href="/donation/new/" class="nav-link">Add a Donation</a>
            <!-- <li class="nav-item">
                <a href="" class="nav-link"></a>
            </li> -->
        </div>
    </div>
    <form action="/charities" method="GET" class="form-inline" >
        <input type="search" autocomplete="off" name="term" class="form-control mr-sm-2" placeholder="Search for Charity" aria-label="Search for Charity">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
