<h1>Donations</h1>
<a href="/donation/new" class="btn btn-primary">Add Donation</a>
<a href="/donation/search" class="btn btn-secondary">Search for a Charity</a>
<hr>
<div class="container">
    {{#each donations}}
        <div class="card" style="width: 20em">
            <div class="card-body">
                <h5 class="card-title">{{this.charity}}</h2>
                <h6 class="card-subtitle mb-2 text-muted">{{this.date}}</h3>
                <p class="card-text">Amount Donated: {{this.amount}}</p>
            </div>
        </div>
    {{/each}}</div>
