<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <form action="/donation" method="POST">
                <legend>Add a New Donation</legend>
                {{> donation-form}}
            </form>
        </div>
    </div>
</div>
