
<div class="container">
    <h1>Donations</h1>
    {{#each donations}}
        <div class="card" style="width: 20em">
            <div class="card-body">
                <h5 class="card-title">{{this.charity}}</h2>
                <h6 class="card-subtitle mb-2 text-muted">{{this.date}}</h3>
                <p class="card-text">Amount Donated: {{this.amount}}</p>
            </div>
        </div>
    {{/each}}</div>
